<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevBoost</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DevBoost.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/ico" href="~/favico.ico" sizes="32x32">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>

        .mynav_links {
            color: white;
        }

        * {
            background-color: #000000;
            color: white;
        }

        .mynav_navbar {
            overflow: hidden;
            font-family: Arial,Helvetica,sans-serif;
            float: left;
            color: white;
            font-size: 20px;
        }

            .mynav_navbar a /* button */ {
                float: left;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 20px;
            }

        .mynav_dropdown {
            float: left;
            overflow: hidden;
            font-size: 20px;
            color: white;
            background: #000000;
        }

            .mynav_dropdown .mynav_dropbtn {
                font-size: 20px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                background: #000000;
            }

            .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                background-color: #2D033B;
                border-radius: 6px;
                font-size: 20px;
                color: white;
            }

        .mynav_dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            border-radius: 6px;
            min-width: 133px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            font-size: 20px;
            color: white;
            background: #000000;
        }

            .mynav_dropdown-content a {
                float: none;
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-size: 20px;
                text-align: left;
                background: #000000;
            }

                .mynav_dropdown-content a:hover {
                    background-color: #2D033B;
                    color: white;
                }

        .mynav_dropdown:hover .mynav_dropdown-content {
            display: block;
            color: white;
            background: #000000;
        }
    </style>
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">DevBoost</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="mynav_navbar">

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Exercises">Exercises</a>
                        }
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>

                        <div class="mynav_dropdown">
                            <button class="mynav_dropbtn">Community</button>
                            <div class="mynav_dropdown-content">
                                <a target="_blank" href="https://discord.com/">Discord</a>
                                <a target="_blank" href="https://www.instagram.com/">Instagram</a>
                                <a target="_blank" href="https://github.com/vasioo/DevBoostWebsite">GitHub</a>
                                <a target="_blank" href="https://twitter.com/">Twitter</a>
                            </div>
                        </div>
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                    </div>
                </div>
                <div class="mynav_navbar">
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DevBoost - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>