@{
    ViewData["Title"] = "Exercises";
}
<style>
    #categories {
        font-size: x-large;
    }

    .categories {
        display: block;
    }

    #main {
        text-align: center;
        padding-bottom: 50px;
    }

    h1 {
        text-align: center;
    }

    #maintitle {
        padding-top: 50px;
    } 
    
    #mainTitle2 {
        padding-top: 100px;
    }

    .list-group-item:hover {
        color: purple;
    }

    #addbtn {
        padding-top: 20px;
    }

        #addbtn button {
            width: 250px;
            height: 50px;
            background: #2D033B;
            border-color: blueviolet;
            font-size: 20px;
            transition: background 0.7s;
        }

            #addbtn button:hover {
                background: #b16cc8;
                border-color: blueviolet;
            }

    #videoPlayer {
        position: fixed;
        right: 270px;
        bottom: 390px;
        overflow: hidden;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
    }

    #horizontalLine {
        color: blueviolet;
        height: 4px;
    }
</style>
<h1>Practice your skills with our modified page</h1>
<hr id="horizontalLine" />


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" id="maintitle">
            <div class="col-md-10" id="main">
                <h1 >Categories</h1>
                <div id="categories" class="list-group">
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="HTMLCSS">HTML & CSS</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="JavascriptBeginning">Javascript Beginning</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="CSharpHigh">High Level C#</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="ASP">ASP.NET</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="DSA">Data Structures & Algorithms</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="JavascriptHigh">Advanced Javascript</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="Bootstrap">Bootstrap</a>
                    <a class="list-group-item" asp-area="" asp-controller="Exercises" asp-action="ReactJS">ReactJS</a>
                </div>
            </div>
            <div id="addbtn">
                <button type="button" onclick="location.href='@Url.Action("Add","Exercises")'">Add a task</button>
            </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-end" id="mainTitle2">
            <iframe width="600px" height="380px" src="https://www.youtube.com/embed/8mAITcNt710"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer;
            autoplay; clipboard-write;
            encrypted-media; gyroscope;
            picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>