@using DevBoost.Models;
@model HelpMe
@{
    ViewBag.Title = "HelpMe";
}

<style>
	.container {
		max-width: 500px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	}

	.form-group {
		margin-bottom: 20px;
	}

	label {
		font-weight: bold;
	}

	textarea {
		height: 150px;
	}

	.btn-primary {
		margin-top: 20px;
		background-color: #2D033B;
		border: none;
	}

		.btn-primary:hover {
			background-color: #b16cc8;
		}

		.btn-primary:focus {
			box-shadow: none;
		}

	.btn-block {
		border-radius: 30px;
	}
</style>


<div class="container">
		<h2 class="text-center mb-4">Contact Me</h2>
		<form method="post">
			<div class="form-group">
				<label asp-for="Name">Name:</label>
			<input asp-for="Name" class="form-control" id="name" name="name" required placeholder="Name">
			</div>
			<div class="form-group">
				<label asp-for="Email">Email:</label>
				<input asp-for="Email" class="form-control" id="email" name="email" required placeholder="Email">
			</div>
			<div class="form-group">
				<label asp-for="Message">Message:</label>
			<textarea asp-for="Message" class="form-control" id="message" name="message" required placeholder="Message"></textarea>
			</div>
		<input type="submit" class="btn btn-primary btn-block"value="Save">
		</form>
	</div>