@{
    ViewData["Title"] = "Home Page";
}


@if (!this.User.Identity.IsAuthenticated)
{
    <h1>Programming courses for everyone</h1>
    <ul>
        <li>Start for only <a href="@Url.Action("Pricing","Home")" type="submit">I'm new here</a></li>
        <li>Learn and experiment</li>
        <li>Solve complex problems</li>
    </ul>
}

else
{
    <h1>Welcome</h1>
}