@{
    ViewData["Title"] = "Courses";
}
<h1>@ViewData["Title"]</h1>

<p>Learn HTML</p>
<p>Learn CSS</p>
<p>Learn Javascript</p>
<p>Learn C#</p>
<p>Learn Data Structures</p>
<p>Learn Algorithms</p>
<p>Learn HTTP</p>
<p>Learn Docker</p>
<p>Learn the basics of the internet</p>
<p>Learn ASP</p>
