@{
    ViewData["Title"] = "LimitedAccess";
} 

<h1>The service you are looking for is unavailable due to:</h1>
    <h2>
        <ul>
            <li>The user is not signed in</li>
            <li>Internal problem in the system</li>
            <li>Old version of browser / wrong browser</li>
        </ul>
    </h2>