@{
    ViewBag.Title = "Help";
}

<style>
    #buttonOfdeath{
        background: #2D033B;
        border-color: blueviolet;
    }

        #buttonOfdeath:hover {
            background: #b16cc8;
            border-color: blueviolet;
    }
</style>


<h2>Ask for Help </h2>
<br />
<br />

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}


<body>
    <h2>Submit Email Request for Assistance</h2>
    <form method="post" action="ProcessRequest.cshtml">
        <div>
            Your name:
            <input type="text" name="customerName" />
        </div>

        <div>
            Your email address:
            <input type="text" name="customerEmail" />
        </div>

        <div>
            Details about your problem: <br />
            <textarea name="customerRequest" cols="45" rows="4"></textarea>
        </div>

        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
