@{
    ViewBag.Title = "Help";
}

<style>
    #buttonOfdeath{
        background: #2D033B;
        border-color: blueviolet;
    }

        #buttonOfdeath:hover {
            background: #b16cc8;
            border-color: blueviolet;
    }
</style>


<h2>Ask for Help </h2>
<br />
<br />

@if (ViewBag.Error != null)
{
    <h2> @ViewBag.Error </h2>
}


<form method="post" action="Help">
    <div class="container">
        <span class="form-control-static"> Receiver: </span>
        <input class="form-control" type="text" name="receiver" />
        <br />
        <span class="form-control-static">
            Subject:
        </span>
        <input class="form-control" type="text" name="subject" /> <br />
        <span class="form-control-static"> Message: </span>
        <input class="form-control" type="text" name="message" />
        <br /> <input id="buttonOfdeath" class="btn btn-primary" type="submit" value="Send" />
    </div>
</form>  