@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h1>Are you a beginner trying to learn coding?</h1>
     <h4>Or maybe trying to upgrade your skills</h4>

     <h3>Doesn't matter, you came to the right place</h3>

     <p>This is a website I created when I was a beginner 
         so if someone knows how to learn properly, it has to be me!</p>
</div>
