@{
    ViewData["Title"] = "PricingController";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
        background:inherit;
    }

    .my_container {
        width: 100%;
        min-height: 100vh;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 6%, rgba(62,39,94,1) 52%, rgba(10,6,15,1) 78%, rgba(0,0,0,1) 92%);
    }

        .my_container h2 {
            color: #fff;
            font-size: 54px;
            padding: 60px 0;
            text-align: center;
        }

    .my_price-row {
        width: 90%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 35px;
    }

    .my_price-col {
        background: #2D033B;
        padding: 10% 15%;
        border-radius: 10px;
        color: #fff;
        text-align: center;
    }

        .my_price-col p {
            font-size: 22px;
            background: #2D033B;
        }

        .my_price-col h3 {
            font-size: 44px;
            margin: 20px 0 40px;
            font-weight: 500;
            background: #2D033B;
        }

            .my_price-col h3 span {
                font-size: 16px;
                background: #2D033B;
            }

        .my_price-col ul {
            text-align: left;
            margin: 20px 0;
            color: #ddd;
            list-style: none;
            background: #2D033B;
            padding:0;
        }

            .my_price-col ul li {
                margin: 15px 0px;
                background: #2D033B;
            }

                .my_price-col ul li::before {
                    content: '\2022';
                    color: #E5B8F4;
                    font-weight: bold;
                    margin-right: 8px;
                }

        .my_price-col button {
            width: 100%;
            padding: 14px 0;
            background: transparent;
            color: #fff;
            font-size: 15px;
            border: 1px solid #b16cc8;
            border-radius: 6px;
            margin-top: 30px;
            cursor: pointer;
            transition: background 0.7s;
        }

            .my_price-col button:hover {
                background: #b16cc8;
            }
</style>


<div class="my_container">
    <h2>Choose your plan</h2>

    <div class="my_price-row">

        <div class="my_price-col">
            <p>Beginner</p>
            <h3>9.99$ <span>/ one-time</span></h3>
            <ul>
                <li>HTML Course</li>
                <li>CSS Course</li>
                <li>Limited Access to Exercises</li>
                <li>Pre-recorded lectures</li>
                <li>Introduction to C#</li>
                <li>More advanced programming</li>
            </ul>
            <button type="button" onclick="location.href='@Url.Action("Purchasing","Pricing")'">Purchase</button>
        </div>

        <div class="my_price-col">
            <p>Intermediate</p>
            <h3>17.98$ <span>/ month</span></h3>
            <ul>
                <li>Object Oriented Programming</li>
                <li>Introduction to Algorithms</li>
                <li>Introduction to Data Structures</li>
                <li>Introduction to Javascript</li>
                <li>High-level C#</li>
                <li>Introduction to ASP.NET</li>
            </ul>
            <button type="button" onclick="location.href='@Url.Action("Purchasing","Pricing")'">Purchase</button>
        </div>

        <div class="my_price-col">
            <p>Professional</p>
            <h3>49.95$ <span>/ month</span></h3>
            <ul>
                <li>Advanced DS and Algorithms</li>
                <li>More advanced JS</li>
                <li>Bootstrap</li>
                <li>ReactJS</li>
                <li>Git/GitHub</li>
                <li>Docker & Azure</li>
            </ul>
            <button type="button" onclick="location.href='@Url.Action("Purchasing","Pricing")'">Purchase</button>
        </div>

    </div>

</div>