<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="Pricing.css">
</head>
<body>
    <div class="container">
        <h2>Choose your plan</h2>

        <div class="price-row">

            <div class="price-col">
                <p>Starter</p>
                <h3>20$ <span>/ month</span></h3>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <button>Add To Cart</button>
            </div>

            <div class="price-col">
                <p>Mid</p>
                <h3>20$ <span>/ month</span></h3>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <button>Add To Cart</button>
            </div>

            <div class="price-col">
                <p>Proffesional</p>
                <h3>20$ <span>/ month</span></h3>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
                <button>Add To Cart</button>
            </div>

        </div>

    </div>
</body>
</html>