@using DevBoost.Data;
@model IEnumerable<Exercise>

@{
    ViewData["Title"] = "InnerController";
}


<h2 class="text-center">HTML & CSS Exercises Page</h2>
<hr />


<ul>
    @foreach (var item in Model)
    {
        @if (@item.Category == "1")
        {
            <partial name="_ExercisePartial" model="@item" />
            <br />
        }
    }
</ul>