

@{
    ViewData["Title"] = "StillBuilding";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The app is being built.</h2>
<br />
<br />
<div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
