@{
    ViewData["Title"] = "StillBuilding";
}
<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">The page you are searching for will be enabled when in production.</h2>
    <br />
    <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
    <iframe width="850" height="650" src="https://www.youtube.com/embed/D1rlGA_UGrY" title="20th Century Fox - 503 Service Unavailable" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
